.center {
  margin: auto;
  border-radius: 10px;
  width: 75%;
  min-height: 200px;
  background-color: #41B3A3;
  padding: 10px;
  text-align: center;
  overflow-wrap: break-word;
  resize: vertical;
  font-family: 'Segoe UI';
}
body {
  background-color: #85DCB0;
} 

.editorStyle {
  width: 80%;
  height: 100px;
  background-color: #62d7d9;
  border: 2px solid #000;
  border-radius: 4px;
  max-width: 100%;
}

.previewStyle {
  width: 80%;
  height: auto;
  text-align: left;
  margin: 10px auto;
  overflow-wrap: break-word;
  resize: vertical;
  display: flex;
  flex-direction: column;
  background-color: #62d7d9;
  border-style: solid;
  border-radius: 3px;
  border-width: 2px;
  font-family: 'Segoe UI';
  min-width: 100px;
  min-height: 100px;
  max-width: 100%;
  overflow: hidden;
}

.sub-title {
  text-align: left;
  margin: 10px 0 10px 10%;
}